
#a_login{
    background: black;
    border: 2px solid white;
    padding: 6px;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff !important;
    font-weight: 500;
    transition: .4s;
}

h2.titre_page {
    margin-bottom: 55px;
    text-align: center;
    border: 1px solid #ebe6f1;
    border-radius: 10px;
    padding: 8px;
    background-color: #ebe6f1;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 1.25rem;
    margin-top: 20px !important;
}

#a_login:hover{
    background: white;
    border: 2px solid black;
    padding: 6px;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color: black !important;
}

#div_menu a {
    margin-right: 38px;
    font-size: 14pt;
    color: #2f2f2f;
    text-decoration: none;
}


#div_menu a:hover {
    cursor: pointer;
    color: red !important;
    transition: .6s;
}

#nav_menu {
   height: 125px;
    position: absolute;
    width: 100%;
    background-color: #ebe6f1;
    top: 0px;
    z-index: -1;
    border-bottom: 1px solid;
    
}

.navbar_menu {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#img_form_header {
    position: absolute;
    z-index: 55;
    left: -100px;
}

img#img_logo_menu\ div_accueil {
    width: 19%;
    margin-left: 115px;
}

#div_menu {
    display: block;
    position: absolute;
    margin-right: 50px;
    right: 0px;
}

.container{
    margin-top: 140px;
}

.div_titre_admin {
    text-align: center;
     margin-bottom: 55px;
}

.div_titre_admin a {
    margin-right: 75px;
    font-size: 14pt;
    color: white;
    border: 1px solid;
    background: cadetblue;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
}

.div_titre_admin a:hover {
    background: darkslategray;
    transition: 1.0s;
}


.wrapper{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255,255,255, .5);
    border-radius: 20px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 454px;
}

.wrapper .form-box{
    width: 100%;
    padding: 40px;
}

.wrapper_contact{
    position: relative;
    width: 100%;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255,255,255, .5);
    border-radius: 20px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper_contact .form-box{
    width: 100%;
    padding: 40px;
}

.form-box h2{
    font-size: 2em;
    color: #162938;
    text-align: center;
    margin-bottom: 50px;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border-bottom: 2px solid;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
}
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}

.btn_login{
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.btn_login:hover{
    color: #162938;
    background-color: #fff;
    border: 1px solid #162938;
}

.btn-creer-compte{
    margin-top: 10px;
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.btn-creer-compte:hover{
    color: #162938;
    background-color: #fff;
    border: 1px solid #162938;
}


.btn_contact{
    width: 20%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.btn_contact:hover{
    color: #162938;
    background-color: #fff;
    border: 1px solid #162938;
}

.btn-detail{
    width: 48%;
    height: 37px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.btn-detail:hover{
    color: #162938;
    background-color: #fff;
    border: 1px solid #162938;
}

.btn-sinscire{
    width: 50%;
    height: 37px;
    background: #ff7d7d;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.btn-sinscire:hover{
    color: #ff7d7d;
    background-color: #fff;
    border: 1px solid #ff7d7d;
}

.btn-suivre{
    margin-top: 10px;
    width: 39%;
    height: 37px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
}

.btn-suivre:hover{
    color: #162938;
    background-color: #fff;
    border: 1px solid #162938;
}


.btn-desinscrire{
    margin-top: 10px;
    width: 58%;
    height: 37px;
    background: #ff7d7d;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
}

.btn-desinscrire:hover{
    color: #ff7d7d;
    background-color: #fff;
    border: 1px solid #ff7d7d;
}

.rember-forgot{
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: -15px 0 15px;
}

.rember-forgot a{
    color: #162938;
    text-decoration: none;
}

.rember-forgot a:hover{
    text-decoration: underline;
}

.login-register{
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a{
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover{
    text-decoration: underline;
}

.affichage_ressource{
    margin-top: 35px;
}

.tab_form_ress{
    margin-top: 60px;
    text-align: center;
    width: 150% !important;
}

.tab_form_ress td{
    font-weight: bold;
}

.span_titre_aff_ressource{
    border: 2px solid;
    padding: 5px 5px;
    border-radius: 8px;
    width: 35%;
    background-color: #f2f2f2;
    text-align: center;
}

.affichage_titre_ress {
    display: flex;
    justify-content: center;
    align-items: center;
}

th.intitule_sequence {
    font-weight: bold;
    text-align: center;
    background-color: #eaeaea;
}

i.btn_supp_ress {
    margin-top: 13px;
}
table.table_form_part {
    text-align: center;
}

td.intitule_ressource {
    display: block;
}

th.intitule_sequence:not(:first-child) {
    display: block;
    margin-top: 50px;
}

select.sel_sequence {
    width: 40.5%;
    display: inline-block;
    outline: none;
    color: #74646e;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #999;
    background: #eee;
    margin-bottom: 10px;
}

.div_gerer_sequence .myarrow {
  width: 23px;
  height: 28px;
  position: absolute;
  display: inline-block;
  top: 4px;
  left: 491px;
  pointer-events: none;
}

 .div_gerer_sequence {
    position: relative;
}

span.myarrow img {
    width: 25px;
}

.form-control{
    background: #eee !important;
}

.div_affichage_reponse span {
    font-weight: 300;
}

.affichage_quest_rep {
    margin-bottom: 50px!important;
}

a.btn_certif {
    position: absolute;
    right: 110px;
    margin-bottom: 40px;
}

.banniere{
   border: solid 2px white;
   background: rgba(0,0,0,0.911);
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   color: white;
   display: flex;
   justify-content: space-around;
   padding: 30px;
   z-index: 1;
   font-family: "Signika Negative", sans-serif;
}
.text-banniere p{
    font-size: large;
}
.button-banniere{
    padding-top: 15px;
}
.button-banniere a{
    border: solid 2px rgb(230,30,30);
    padding: 10px;
    background: rgb(216,30,30);
    border-radius: 7px;
    color: white;
    text-decoration: none;
}

textarea#contenu {
    height: 150px;
}

.padding-gauche {
    padding-left: 16px;
}

h4 {
    margin-bottom: 10px;
}

p {
    text-align: justify;
}

.text-end {
    text-align: right!important;
    margin-bottom: 25px;
}

.text-right{
    text-align: right!important;
}

a#a_creerFormation {
    position: absolute;
    margin-top: 80px;
    right: 107px;
}

.wrapper_creercompte{
    position: relative;
    width: 579px;
    height: 592px;
    padding: 41px;
    background: transparent;
    border: 2px solid rgba(255,255,255, .5);
    border-radius: 20px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 408px;
}

.alert.msg_alert.alert-danger {
    width: 1165px !important;
    text-align: center;
    margin-left: 66px;
    margin-top: 15px;
}

a.btn-suppr-seq.btn.btn-danger {
    position: absolute;
    right: 123px;
    margin-top: 1px;
    font-size: 12px;
    padding: 1px;
}


a.btn-suppr-res.btn.btn-danger {
    position: absolute;
    left: 123px;
    margin-top: 3px;
    font-size: 12px;
    padding: 1px;
}

a.btn.btn-info.btn_consulter_ress {
    position: absolute;
    right: 118px;
    margin-top: -3px;
    font-size: 12px;
    padding: 5px;
}

img.logo_code {
    position: absolute;
    width: 15%;
    top: 343px;
    filter: contrast(0.5);
    transform: rotate(358deg);
}

img.logo_ia {
    position: absolute;
    width: 15%;
    top: 343px;
    right: 142px;
    filter: contrast(0.5);
    transform: rotate(358deg);
}

h4.titre_page {
    text-align: center;
    border: 1px solid #ebe6f1;
    border-radius: 10px;
    padding: 8px;
    width: 846px;
    background-color: #ebe6f1;
}

video.video_detail {
    margin-top: 16px;
}

h4.titre_form {
    width: 100%;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 40px;
    border: 1px solid white;
    padding: 8px;
    border-radius: 10px;
    background-color: #ebe6f1;
}

a.btn-modif-seq.btn.btn-warning {
    position: absolute;
    right: 190px;
    margin-top: 1px;
    font-size: 12px;
    padding: 1px;
}

.msg_alert_renseigner{
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;

}

footer {
  background-color: #f8f8f8;
  padding: 50px 0;
  color: #666;
  margin-top: 70px;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 20px;
}

footer ul li {
  display: inline-block;
  margin: 0 10px;
}

footer ul li a {
  color: #666;
  font-size: 14px;
  text-decoration: none;
}

footer ul li a:hover {
  color: #222;
}

.credits {
  background-color: #222;
  color: #fff;
  padding: 10px;
}

.credits p {
  margin: 0;
  font-size: 14px;
  text-align: center;
}

.container {
  position: relative;
  overflow: hidden;
}
.cards {
  display: flex;
  transition: transform 0.3s ease-in-out;
}
.card {
    flex: 0 0 350px;
    height: 480px;
    margin-right: 20px;
    background-color: #eee;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    height: 140px;
}

.card-img {
  width: 200px;
  height: 200px;
  margin-top: 30px;
}

.card-btn {
  display: inline-block;
  background-color: #162938;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: auto;
}

.card-btn:hover {
  background-color: white;
  color: #162938;
  border: 1px solid #162938;
}

.prev-button, .next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ccc;
  border: none;
  color: #fff;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
}
.prev-button {
  left: 0;
}
.next-button {
  right: 0;
}

.button-container {
  position: absolute;
  right: 0;
  padding: 10px;
}

.button-container a {
  display: inline-block;
  background-color: #ff7d7d;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.button-container a:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
}

.alert_contact {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #333;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.td_vide{
    background: white !important;
}

.tr_vide{
    border-style: none;
}

#a_creerCompte {
  background-color: #4285F4;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  padding: 3px 20px;
  text-align: center;
  text-decoration: none;
  transition: transform 0.2s ease-out;
}

#a_creerCompte:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.login-register p{
    text-align: center;
}

.div_section1_accueil {
    margin-top: 100px;
    margin-bottom: 20px;
    display: flex;
}

.div_aff_txt_accueil {
    margin-right: 40px;
    text-align-last: left;
}

.div_img_form img{
    width: 15%;
    display: flex;
}

.div_img_form {
    display: flex;
}

.div_img_form img:not(:first-child){
    margin-left: 30px;
}